@CHARSET "UTF-8";

#sidebar{
	/*background-image: url(../image/kabe.jpg);*/
	width:200px;
	font-size:120%;
	color:#000000;
}

/*マウスオーバーで切り替え*/
a.showf span.jp{
	display:inline;
	}
a.showf:hover span.jp {
	display:none;
}
a.showf span.en {
	display:none;
	}
a.showf:hover span.en {
	display:inline;
	}

/*下線なし、黒、リンクしても色が変わらない*/
a:link { color:#000000; text-decoration:none }
 a:visited { color:#000000; text-decoration:none }
 a:hover { color:#000000; text-decoration:none }
 a:active { color:#000000; text-decoration:none }
a {text-decoration: none;}





